<?xml version='1.0' encoding='utf-8'?>
<model>
  <name>geometry_mesh_collada</name>
  <version>1.0</version>
  <sdf version="1.7">geometry_mesh_collada.sdf</sdf>

  <author>
    <name>Shane Loretz</name>
    <email>sloretz@openrobotics.org</email>
  </author>

  <description>
  A single link using mesh geometry with a COLLADA mesh.
  </description>
</model>
