<?xml version='1.0' encoding='utf-8'?>
<model>
  <name>model_zero_models</name>
  <version>1.0</version>
  <sdf version="1.7">model_zero_models.sdf</sdf>

  <author>
    <name>Shane Loretz</name>
    <email>sloretz@openrobotics.org</email>
  </author>

  <description>
  An SDFormat XML file that does not have a model in it.
  </description>
</model>
