<?xml version='1.0' encoding='utf-8'?>
<model>
  <name>pose_chain</name>
  <version>1.0</version>
  <sdf version="1.7">pose_chain.sdf</sdf>

  <author>
    <name>Shane Loretz</name>
    <email>sloretz@openrobotics.org</email>
  </author>

  <description>
  A chain of links connected by joints, where every link and joint in the chain has a non-zero pose.
  </description>
</model>
