<?xml version='1.0' encoding='utf-8'?>
<model>
  <name>pose_link</name>
  <version>1.0</version>
  <sdf version="1.7">pose_link.sdf</sdf>

  <author>
    <name>Shane Loretz</name>
    <email>sloretz@openrobotics.org</email>
  </author>

  <description>
  A single-link model where only the link has a non-zero pose.
  </description>
</model>
