<?xml version='1.0' encoding='utf-8'?>
<model>
  <name>material_dynamic_lights</name>
  <version>1.0</version>
  <sdf version="1.7">material_dynamic_lights.sdf</sdf>

  <author>
    <name>Shane Loretz</name>
    <email>sloretz@openrobotics.org</email>
  </author>

  <description>
  A link with two visuals: one with dynamic lights on, and the other with dynamic lights off.
  </description>
</model>
