<?xml version='1.0' encoding='utf-8'?>
<model>
  <name>pose_joint_all</name>
  <version>1.0</version>
  <sdf version="1.7">pose_joint_all.sdf</sdf>

  <author>
    <name>Shane Loretz</name>
    <email>sloretz@openrobotics.org</email>
  </author>

  <description>
    A model having two links and a revolute joint, with non-zero poses on all including the inertials, visuals, and collisions.
  </description>
</model>
