<?xml version='1.0' encoding='utf-8'?>
<model>
  <name>pose_inertial_in_frame</name>
  <version>1.0</version>
  <sdf version="1.7">pose_inertial_in_frame.sdf</sdf>

  <author>
    <name>Shane Loretz</name>
    <email>sloretz@openrobotics.org</email>
  </author>

  <description>
  A single-link model where only the inertial has a non-zero pose, and that pose is given in a frame on the model.
  </description>
</model>
