<?xml version='1.0' encoding='utf-8'?>
<model>
  <name>graph_chain_non_canonical_root</name>
  <version>1.0</version>
  <sdf version="1.7">graph_chain_non_canonical_root.sdf</sdf>

  <author>
    <name>Shane Loretz</name>
    <email>sloretz@openrobotics.org</email>
  </author>

  <description>
  A model having a chain of 3 links connected in series with revolute joints, but the canonical link is not the root of the chain.
  </description>
</model>
