<?xml version='1.0' encoding='utf-8'?>
<model>
  <name>geometry_box</name>
  <version>1.0</version>
  <sdf version="1.7">geometry_box.sdf</sdf>

  <author>
    <name>Shane Loretz</name>
    <email>sloretz@openrobotics.org</email>
  </author>

  <description>
  A single-link model using the box geometry type for both the visual and collision.
  </description>
</model>
