<?xml version='1.0' encoding='utf-8'?>
<model>
  <name>graph_loop</name>
  <version>1.0</version>
  <sdf version="1.7">graph_loop.sdf</sdf>

  <author>
    <name>Shane Loretz</name>
    <email>sloretz@openrobotics.org</email>
  </author>

  <description>
  A model having three links connected by 3 joints to form a triangle.
  </description>
</model>
