<?xml version='1.0' encoding='utf-8'?>
<model>
  <name>link_multiple_collisions</name>
  <version>1.0</version>
  <sdf version="1.7">link_multiple_collisions.sdf</sdf>

  <author>
    <name>Shane Loretz</name>
    <email>sloretz@openrobotics.org</email>
  </author>

  <description>
  A model with a single link having multiple collision elements on it.
  </description>
</model>
