<?xml version='1.0' encoding='utf-8'?>
<model>
  <name>graph_tree_non_canonical_root</name>
  <version>1.0</version>
  <sdf version="1.7">graph_tree_non_canonical_root.sdf</sdf>

  <author>
    <name>Shane Loretz</name>
    <email>sloretz@openrobotics.org</email>
  </author>

  <description>
  A model with multiple links connected by joints forming a tree, but the canonical link is not the root of the tree.
  </description>
</model>
