<?xml version='1.0' encoding='utf-8'?>
<model>
  <name>joint_universal</name>
  <version>1.0</version>
  <sdf version="1.7">joint_universal.sdf</sdf>

  <author>
    <name>Shane Loretz</name>
    <email>sloretz@openrobotics.org</email>
  </author>

  <description>
  A model with two links connected by a universal joint.
  </description>
</model>
