<?xml version='1.0' encoding='utf-8'?>
<model>
  <name>pose_link_all</name>
  <version>1.0</version>
  <sdf version="1.7">pose_link_all.sdf</sdf>

  <author>
    <name>Shane Loretz</name>
    <email>sloretz@openrobotics.org</email>
  </author>

  <description>
  A single-link model where the link, visual, collision, and inertial elements all have poses.
  </description>
</model>
