<?xml version='1.0' encoding='utf-8'?>
<model>
  <name>joint_gearbox</name>
  <version>1.0</version>
  <sdf version="1.7">joint_gearbox.sdf</sdf>

  <author>
    <name>Shane Loretz</name>
    <email>sloretz@openrobotics.org</email>
  </author>

  <description>
  A model with 3 links total. Two links are connected to a reference link with revolute joints and a gearbox joint enforces that one revolute joint rotates faster than the other.
  </description>
</model>
