<?xml version='1.0' encoding='utf-8'?>
<model>
  <name>joint_revolute_two_joints_two_links</name>
  <version>1.0</version>
  <sdf version="1.7">joint_revolute_two_joints_two_links.sdf</sdf>

  <author>
    <name>Shane Loretz</name>
    <email>sloretz@openrobotics.org</email>
  </author>

  <description>
  A model with two links connected by two revolute joints, effectively rigidly connecting the two.
  </description>
</model>
