<?xml version='1.0' encoding='utf-8'?>
<model>
  <name>link_inertia</name>
  <version>1.0</version>
  <sdf version="1.7">link_inertia.sdf</sdf>

  <author>
    <name>Shane Loretz</name>
    <email>sloretz@openrobotics.org</email>
  </author>

  <description>
  A link having an inerta with a different value for each of it's 6 components.
  </description>
</model>
