<?xml version='1.0' encoding='utf-8'?>
<model>
  <name>pose_joint</name>
  <version>1.0</version>
  <sdf version="1.7">pose_joint.sdf</sdf>

  <author>
    <name>Shane Loretz</name>
    <email>sloretz@openrobotics.org</email>
  </author>

  <description>
  A model having two links and a revolute joint, where only the joint has a non-zero pose.
  </description>
</model>
